body {
    min-width: 320px;
    margin: 0 30px;
    font-family: Montserrat, sans-serif;
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

/* --------------------------- Header --------------------------- */

.navbar {
    padding: 8px 15px;
    box-shadow: 0 5px 5px rgba(38, 38, 38, 0.16);
}

.navbar .navbar-nav .nav-item {
    margin-left: 30px;
    font-size: 18px;
}

@media (max-width: 992px){

    .navbar .navbar-nav .nav-item {
        margin-left: 0px;
        position: relative;
    }

    .navbar .navbar-nav .nav-item:before {
        position: absolute;
        content: " ";
        bottom: -5px;
        border-bottom: 1px solid rgba(0, 0, 0, .5);
        transform: scale(0,1);
        width: 100%;
        transition: transform 0.3s
    }

    .navbar .navbar-nav .nav-item:hover:before {
        transform: scale(1,1);
    }

}

.navbar .navbar-nav .nav-item .nav-link {
    color: rgb(0, 0, 0);
}

/* --------------------------- Main Section --------------------------- */

@media (min-width: 768px) {

    main .container-fluid {
        background: url(../images/main-section.png) center no-repeat;
        background-size: cover;
    }
}

main h1 {
    margin-top: 110px;
    font-size: 62px;
    font-weight: 800;
    line-height: 56px;
}

@media (max-width: 767px) {

    main h1 {
        margin-top: 10px;
        font-size: 38px;
        line-height: 38px;
    }

}

main p {
    margin-bottom: 110px;
    font-size: 18px;
    color: #676767;
    line-height: 1.4;
}

@media (max-width: 767px) {

    main p {
        margin-bottom: 10px;
        font-size: 20px;
        line-height: 22px;
    }

}

/* --------------------------- URL Short Section --------------------------- */

.url-short-section {
    margin-top: 10px;
}

.url-box-shadow {
    box-shadow: -2px 5px 7px 2px rgba(0, 0, 255, .2);
    border: #676767 solid 2px;
}

.url-short-section h1 {
    margin-top: 10px;
    font-size: 38px;
}

@media (max-width: 767px) {

    .url-short-section h1 {
        font-size: 30px;
    }
}

@media (max-width: 575px) {

    .url-short-section h1 {
        font-size: 25px;
    }
}

@media (max-width: 575px) {

    .url-short-section .btn {
        width:100%;
    }
}

.url-short-section p {
    color: #676767;
}

/* --------------------------- Advantages Section --------------------------- */

.advantages {
    margin-top: 10px;
}

.advantages h1 {
    font-size: 25px;
}

@media (min-width: 576px) {

    .advantages h1 {
        font-size: 30px;
    }
}

@media (min-width: 768px) {

    .advantages h1 {
        font-size: 38px;
    }
}

.advantages .card .card-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.advantages .card .card-img img {
    width: 100%;
}

.advantages .card .card-body {
    padding: 10px 20px;
}

/* --------------------------- Media Querys --------------------------- */

@media (min-width: 1200px) {

    .px-xl-205px {
        padding-left: 205px;
        padding-right: 205px;
    }
}