/* ---------------------------------- Common blocks and elements ---------------------------------- */

.page {
    margin: 0;
    font-family: Montserrat, sans-serif;
    background: rgb(255, 255, 255);
}

/* ---------------------------------- Main ---------------------------------- */

.main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #343a40;
}

.main__code-error {
    font-size: 50px;
    line-height: normal;
    margin-top: 8px;
    margin-bottom: 0;
}

.main__heading {
    font-size: 25px;
    margin: 0;
}

@media (min-width: 576px) {

    .main__heading {
        font-size: 30px;
    }
}

@media (min-width: 768px) {

    .main__heading {
        font-size: 38px;
    }
}

.main__paragrath {
    padding: 0 10px;
    margin-bottom: 8px;
}