/* ---------------------------------- Common blocks and elements ---------------------------------- */

.page {
    margin: 0;
    font-family: Montserrat, sans-serif;
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

/* ---------------------------------- Header ---------------------------------- */

.page__header {
    margin: 0 30px;
}

@media (min-width: 992px) {

    .header_width_65 {
        width: 65%;
    }
}

@media (min-width: 1601px) {

    .header_width_50 {
        width: 50%;
    }
}

.header_box-shadow_grey {
    box-shadow: 0 5px 5px rgba(38, 38, 38, 0.16);
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__logo {
    padding: 8px 15px;
}

/* ---------------------------------- Main ---------------------------------- */

.page__main {
    margin: 10px 30px 0;
}

@media (min-width: 992px) {

    .main_width_65 {
        width: 65%;
    }
}

@media (min-width: 1601px) {

    .main_width_50 {
        width: 50%;
    }
}

.main_box-shadow_black {
    box-shadow: -2px 5px 7px 2px rgba(0, 0, 0, .2);
}

.main_border_grey {
    border: #676767 solid 2px;
}

.main__heading {
    font-size: 25px;
    padding: 0 10px;
}

@media (min-width: 576px) {

    .main__heading {
        font-size: 30px;
    }
}

@media (min-width: 768px) {

    .main__heading {
        font-size: 38px;
    }
}

.main__paragrath {
    padding: 0 10px;
    margin-bottom: 8px;
}

.btn_w_100 {
    width: 100%;
}

.main__long-link {
    text-decoration: underline;
    color: #343a40;
}

.main__long-link:hover {
    color:black;
}

.main__btn {
    margin-left: 10px;
    margin-bottom: 8px;
}

/* ---------------------------------- Footer ---------------------------------- */

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_theme_black {
    background: #343a40;
    color: white;
}

.page__footer {
    padding: 10px 0;
}

.footer__paragrath {
    margin: 0;
}