/* ---------------------------------- Common blocks and elements ---------------------------------- */

.page {
    font-family: Montserrat, sans-serif;
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

